#just ignore everything
/*

#except git files
!/.gitignore
!/.gitconfig
!/.gitmodules
!/.gitcommit
!/.gitignore_global
#and mercurial files
!/.hgrc
!/.hgrc.d/
!/.hg.log.style

#except bash files
!/.bashrc
!/.bash/
!/.bash/*

#except vim files
!/.vimrc
!/.vim/
!/.vim/*
/.vim/.netrwhist

!/setup.sh

#but vim plugins
/.vim/plugged

#ignore vim eclim folder
/.vim/eclim/*
/.vim/view/*
/.vim/plugin/eclim.vim

#add single files
!/.jshintrc
!/.screenrc

#but still ignore binary files
*.pyc

#ignore eclim plugin file
/.vim/plugin/eclim.vim

# ignore plug plugin files
/.vim/autoload/plug.vim

# neovim 
!/.config/nvim

!/.inputrc
