#just ignore everything
/*

#except git files
!.gitignore
!.gitconfig
!.gitmodules

#except bash files
!.bashrc
!.bash/
!.bash/*

#except vim files
!.vimrc
!.vim/
!.vim/*
#ignore vim eclim folder
.vim/eclim/*

#jshint config
!.jshintrc

#but still ignore binary files
*.pyc
