#just ignore everything
/*

#except git files
!/.gitignore
!/.gitconfig
!/.gitmodules

#except bash files
!/.bashrc
!/.bash/
!/.bash/*

#except vim files
!/.vimrc
!/.vim/
!/.vim/*

#but vim plugins
/.vim/bundle/
!/.vim/bundle/vundle/*

#ignore vim eclim folder
/.vim/eclim/*
/.vim/view/*

#add single files
!/.jshintrc
!/.screenrc

#but still ignore binary files
*.pyc
